*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main {
    background-color: #fbfbfb;
    width: 100%;
    height: 90vh;
}
h3{
    align-self: center;
    align-items: center;
    padding-top: 30px;
    font-size: 30px;
}
.main-navbar{
margin-left: 100px;
}

